/* Mobile Device */
@media (max-width: 767px) {
    .banner .carousel-caption{
        text-align: justify;
        position: absolute;
        right: 15%;
        bottom: 0.25rem;
        left: 15%;
        padding-top: 1.25rem !important;
        padding-bottom: 0.25rem !important;
        color: #fff;
    }

    .banner .carousel-caption h3{
        font-size: 13px;
    }
    .banner .carousel-caption p{
        font-size: 8px;
        width: 50%;
    }

    .banner{
        width: 100%;
        height: 200px;
        background-color: red;
    }

    .carousel-control-next, .carousel-control-prev{
        bottom: -51px !important;
    }

    .about_us .header{
        font-size: 30px !important;
    }
    .about_us p{
        font-size: 7px !important;
        margin-top: 12px !important;
    }

    .external-link .circle{
        width: 40px;
        height: 40px;
        border-radius: 160px;
        background-color: white;
        margin: 6px;
        perspective: 1000px;
        transition: transform 0.5s, background-color 0.3s;
    }

    .external-link .circle a{
        font-size: 20px;
        margin-left: 16px;
        top: 5px;
    }

    .external-link .circle:hover a {
        color: white; /* Change text color on hover */
    }

    .external-link .circle .xh{
        margin-left: 5px !important;
    }

    .external-link .circle .s{
        margin-left: 17px !important;
    }

    .external-link .circle .f{
        margin-left: 17px !important;
    }

    .col-lg-3 img {
        max-width: 92%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
        z-index: 0; /* Ensure the image is below the background color */
        margin-left: 16px;
      }

      .col-lg-3:hover .background {
        width: 90%; /* Match the width to the image width */
        background-color: rgba(250, 4, 4, 0.774); /* Change the color as desired when flipping */
        margin-left: 16px;
      }

      .internal{
        margin-top: 30px !important;
    }

    .main_footer .content{
        padding-top: 40px !important;
      }
      .main_footer .content p{
        font-size: 13px !important;
        margin-top: 10px !important;
      }

      .main_footer .content h3{
        font-size: 25px !important;
      }

      .main_footer .content .socials{
        display: flex;
        margin: 10px;
      }

      .main_footer .content .socials img{
        width: 50%;
        margin: 8px;
      }

      .main_footer .next_footer{
        width: 100%;
        height: 70px;
        background-color: black;
        margin-top: 60px;
        color: white;
        text-align: center;
      }

      .main_footer .next_footer .copyright{
        padding-top: 12px;
      }

      /* free videos */
      .free_videos{
        margin-top: 50px;
    }
    .free_videos video{
        width: 100%;
    }
    .free_videos h3{
        font-size: 8px;
    }
    .free_videos p{
        color: white;
        font-size: 5px;
        font-family: serif !important;
        margin-top: -29px;
    }
    .free_videos .btn-primary{
        background-color: white;
        color: black;
        font-size: 3px;
        margin-top: -29px;
        padding: 5px 8px;
    }
    .free_videos .content{
        margin-left: -18px !important;
    }

/* ==================================================
                    meet me
=====================================================*/
.meetme_content p{
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 12px;
    color: white;
}

.meetme_content .meetContent .btn{
    margin-left: 40px;
    margin-top: 31px;
    background: linear-gradient(45deg, red, transparent);
    border-color: white;
    font-size: 10px;
}

.ads{
    width: 100%;
    height: 190px;
    background: linear-gradient(47deg, red, orange);
    margin-top: 80px;
    border-radius: 20px;
    }

/* ==================================================
                    store
=====================================================*/
.store .content p{
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 12px;
    color: white;
}
.banner2{
    width: 100%;
    height: 150px;
    background: linear-gradient(45deg, orange, red);
    margin-top: 50px;
    border-radius: 10px;
}
.store .staticImage{
    margin-top: 38px;
}
.store .carousel .carousel-inner .carousel-item img{
    margin-top: 38px;
}
.store .product-img{
    margin-top: 51px;
}

.store .product-img img{
    border-radius: 20px;
}

.store .product-description{
    color: white;
    margin-top: 51px;
    font-size: 9px;
}
.store .product-description h3{
    color: white;
    margin-top: 51px;
    font-size: 15px;
}
.store .product-description .btn{
    font-size: 9px !important;
}

.mobile{
    margin-top: -16px;
}


/* ==================================================
                    others
=====================================================*/
.others .content p{
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 12px;
    color: white;
}
.others .staticImage{
    margin-top: 38px;
}
.others .carousel .carousel-inner .carousel-item img{
    margin-top: 38px;
}
.others .product-img{
    margin-top: 51px;
}

.others .product-img img{
    border-radius: 20px;
}

.others .product-description{
    color: white;
    margin-top: 51px;
    font-size: 9px;
}
.others .product-description h3{
    color: white;
    margin-top: 51px;
    font-size: 15px;
}
.store .product-description .btn{
    font-size: 9px !important;
    }

    /* coming soon */
.coming_soon h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
    }
}
