/* Home Section Styling */
body{
    background-color: black;
    /* font-family: Oswald !important; */
}
/* Navigation */
.navbar{
    background-color: black !important;
}
.navbar .navbar-nav .nav-item a, .navbar-brand{
    color: white !important;
}
.navbar-nav{
    text-align: center !important;
}

.navbar-brand img{
    width: 60% !important;
}

.dropdown-menu{
    background-color: rgb(3, 3, 3) !important;
    color: black;
}
.DPI{
    color: black !important;
}
/* End of Navigation */

/* Banner section */
.banner{
    width: 100%;
    height: 600px;
    background-color: red;
}

.banner .d-block{
    display: block;
    width: 64%;
    margin-top: 51px;
}

.banner .big{
    display: block;
    width: 54%;
    margin-top: 51px;
}
.banner .carousel-caption{
    text-align: justify;
    position: absolute;
    right: 15%;
    bottom: 10.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}
.banner .carousel-caption h3{
    font-size: 52px;
}
.banner .carousel-item{
    margin-left: 0 auto !important;
    margin-right: 0 auto !important;
}
.banner .carousel-indicators{
    margin-bottom: -2rem;
}
/* End of Banner Section */

/* About section */
.about_us .header{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-family: Oswald !important;
    font-size: 50px;
}
.about_us p{
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 12px;
    color: white;
}
.external-link{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.external-link .circle{
    width: 80px;
    height: 80px;
    border-radius: 160px;
    background-color: white;
    margin: 15px;
    perspective: 1000px;
    transition: transform 0.5s, background-color 0.3s;
}

.external-link .circle:hover {
    background-color: red; /* Change background color on hover */
    transform: rotateY(180deg);
}

.external-link .circle a{
    color: black;
    text-decoration: none;
    font-size: 36px;
    margin-left: 33px;
    top: 12px;
    position: relative;
}

.external-link .circle:hover a {
    color: white; /* Change text color on hover */
}

.external-link .circle .xh{
    margin-left: 18px !important;
}

.external-link .circle .s{
    margin-left: 31px !important;
}

.external-link .circle .f{
    margin-left: 33px !important;
}

/* Internal links */
.internal{
    margin-top: 150px;
}
.internal img{
    width: 100% !important;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1; /* Place the background color on top of the image */
}

.col-lg-3 {
    position: relative;
    overflow: hidden; /* Ensure the flipped image doesn't overflow */
}

.col-lg-3 img {
    max-width: 92%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    z-index: 0; /* Ensure the image is below the background color */
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2; /* Place the text on top of the background color */
}


.col-lg-3:hover img {
    transform: scaleX(-1); /* Flip the image horizontally */
}

.col-lg-3:hover .background {
    width: 90%; /* Match the width to the image width */
    background-color: rgba(250, 4, 4, 0.774); /* Change the color as desired when flipping */
}

.col-lg-3:hover .image-text {
    opacity: 1;
}

/* footer section */

.main_footer{
    background-color: red;
    width: 100%;
    height: 400px;
    margin-top: 120px;
}

.main_footer .content{
    padding-top: 40px;
    color: white;
}
.main_footer .content p{
    font-size: 21px;
    margin-top: 15px;
}

.main_footer .content h3{
    font-size: 42px;
    color: black;
}

.main_footer .content .socials{
    display: flex;
    margin: 10px;
}

.main_footer .content .socials img{
    width: 50%;
    margin: 8px;
}

.main_footer .next_footer{
    width: 100%;
    height: 70px;
    background-color: black;
    margin-top: 44px;
    color: white;
    text-align: center;
}

.main_footer .next_footer .copyright{
    padding-top: 12px;
}

/* free videos */
.free_videos{
    margin-top: 50px;
}
.free_videos video{
    width: 100%;
}
.free_videos h3{
    font-size: 17px;
    color: white;
}
.free_videos p{
    color: white;
    font-size: 15px;
    font-family: serif !important;
    margin-top: -15px;
}
.free_videos .btn-primary{
    background-color: white;
    color: black;
    font-size: small;
}
